<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.pinda.mapper.WebManagerMapper">
    <select id="findDriverJobByPage" resultType="com.itheima.pinda.DTO.DriverJobDTO"
            parameterType="com.itheima.pinda.DTO.webManager.DriverJobQueryDTO">
        SELECT driver_job.* FROM pd_driver_job driver_job
        <if test="driverName != null and driverName != ''">
            LEFT JOIN pd_auth_user auth_user ON driver_job.driver_id = auth_user.id
        </if>
        <if test="taskTransportId != null and taskTransportId != ''">
            LEFT JOIN pd_task_transport task_transport ON driver_job.task_transport_id = task_transport.id
        </if>
        <where>
            <if test="status != null">
                AND driver_job.status = #{status}
            </if>
            <if test="id != null and id != ''">
                AND driver_job.id LIKE CONCAT('%',#{id},'%')
            </if>
            <if test="driverName != null and driverName != ''">
                AND auth_user.name LIKE CONCAT('%',#{driverName},'%')
            </if>
            <if test="taskTransportId != null and taskTransportId != ''">
                AND task_transport.id LIKE CONCAT('%',#{taskTransportId},'%')
            </if>
        </where>
        order by driver_job.create_time desc
    </select>

    <select id="findTaskPickupDispatchJobByPage" resultType="com.itheima.pinda.DTO.TaskPickupDispatchDTO"
            parameterType="com.itheima.pinda.DTO.webManager.TaskPickupDispatchQueryDTO">
        SELECT task_pickup_dispatch.* FROM pd_task_pickup_dispatch task_pickup_dispatch
        LEFT JOIN pd_order pdorder ON task_pickup_dispatch.order_id=pdorder.id
        LEFT JOIN pd_transport_order transport_order ON pdorder.id=transport_order.order_id
        LEFT JOIN pd_auth_user auth_user ON task_pickup_dispatch.courier_id = auth_user.id
        <where>
            <if test="taskType != null">
                AND task_pickup_dispatch.task_type = #{taskType}
            </if>
            <if test="status != null">
                AND task_pickup_dispatch.status = #{status}
            </if>
            <if test="transportOrderId != null and transportOrderId != ''">
                AND transport_order.id LIKE CONCAT('%',#{transportOrderId},'%')
            </if>
            <if test="courierName != null and courierName != ''">
                AND auth_user.name LIKE CONCAT('%',#{courierName},'%')
            </if>
            <if test="senderName != null and senderName != ''">
                AND pdorder.sender_name LIKE CONCAT('%',#{senderName},'%')
            </if>
            <if test="senderProvinceId != null and senderProvinceId != ''">
                AND pdorder.sender_province_id = #{senderProvinceId}
            </if>
            <if test="senderCityId != null and senderCityId != ''">
                AND pdorder.sender_city_id = #{senderCityId}
            </if>
            <if test="receiverName != null and receiverName != ''">
                AND pdorder.receiver_name LIKE CONCAT('%',#{receiverName},'%')
            </if>
            <if test="receiverProvinceId != null and receiverProvinceId != ''">
                AND pdorder.receiver_province_id = #{receiverProvinceId}
            </if>
            <if test="receiverCityId != null and receiverCityId != ''">
                AND pdorder.receiver_city_id = #{receiverCityId}
            </if>
        </where>
        order by task_pickup_dispatch.create_time desc
    </select>

    <select id="findTransportOrderByPage" resultType="com.itheima.pinda.DTO.TransportOrderDTO"
            parameterType="com.itheima.pinda.DTO.webManager.TransportOrderQueryDTO">
        SELECT * FROM pd_transport_order transport_order
        LEFT JOIN pd_order pdorder ON transport_order.order_id = pdorder.id
        <where>
            <if test="id != null and id != ''">
                AND transport_order.id LIKE CONCAT('%',#{id},'%')
            </if>
            <if test="status != null">
                AND transport_order.status = #{status}
            </if>
            <if test="senderName != null and senderName != ''">
                AND pdorder.sender_name LIKE CONCAT('%',#{senderName},'%')
            </if>
            <if test="senderPhone != null and senderPhone != ''">
                AND pdorder.sender_phone LIKE CONCAT('%',#{senderPhone},'%')
            </if>
            <if test="senderProvinceId != null and senderProvinceId != ''">
                AND pdorder.sender_province_id = #{senderProvinceId}
            </if>
            <if test="senderCityId != null and senderCityId != ''">
                AND pdorder.sender_city_id = #{senderCityId}
            </if>
            <if test="senderCountyId != null and senderCountyId != ''">
                AND pdorder.sender_county_id = #{senderCountyId}
            </if>
            <if test="receiverName != null and receiverName != ''">
                AND pdorder.receiver_name LIKE CONCAT('%',#{receiverName},'%')
            </if>
            <if test="receiverPhone != null and receiverPhone != ''">
                AND pdorder.receiver_phone LIKE CONCAT('%',#{receiverPhone},'%')
            </if>
            <if test="receiverProvinceId != null and receiverProvinceId != ''">
                AND pdorder.receiver_province_id = #{receiverProvinceId}
            </if>
            <if test="receiverCityId != null and receiverCityId != ''">
                AND pdorder.receiver_city_id = #{receiverCityId}
            </if>
            <if test="receiverCountyId != null and receiverCountyId != ''">
                AND pdorder.receiver_county_id = #{receiverCountyId}
            </if>
        </where>
        order by transport_order.create_time desc
    </select>

    <select id="findTaskTransportByPage" resultType="com.itheima.pinda.DTO.TaskTransportDTO"
            parameterType="com.itheima.pinda.DTO.webManager.TaskTransportQueryDTO">
        SELECT * FROM pd_task_transport task_transport
        LEFT JOIN pd_driver_job driver_job ON task_transport.id = driver_job.task_transport_id
        LEFT JOIN pd_auth_user auth_user ON driver_job.driver_id = auth_user.id
        <where>
            <if test="id != null and id != ''">
                AND task_transport.id LIKE CONCAT('%',#{id},'%')
            </if>
            <if test="driverName != null and driverName != ''">
                AND auth_user.name LIKE CONCAT('%',#{driverName},'%')
            </if>
            <if test="status != null">
                AND task_transport.status = #{status}
            </if>
        </where>
        order by task_transport.create_time desc
    </select>
</mapper>
